<div class="container justify-content-center">
  <h2 class="titel">
    Öl
  </h2>
  <button
    class="btn btn-default"
    style="color: white;"
    [routerLink]="['/drink']"
  >
    Gå tillbaka
  </button>
  <button class="btn btn-primary" [routerLink]="['/drink/create']">
    Lägg till ny dryck
  </button>
  <hr />
 
  <mat-tab-group>
    
      <mat-tab label="First" > 
        <ng-template mat-tab-label>
          <span (click)="initializeFilterCategory()">Kategorier</span>
      </ng-template>
        <div class="info">
          
        </div>
      <div class="info">
        <ul *ngIf="drs$">
          <li *ngFor="let dr of drs$ | async">
            <a class="title">
              {{ dr.productNameBold }} </a
            >
            
            
            <button class="btn btn-success" (click)="paySaldo(dr)">Köp med saldo</button>
            <button class="btn btn-success" (click)="GetToSwish(dr)">Köp med swish</button>
            <div class="countBtns">
              
              <button class="minus" mat-mini-fab color="warn" (click)="clickCountM()">-</button>
            <button class="plus" mat-mini-fab color="green" (click)="clickCount()">+</button>
            </div>
            <p class="location">{{ dr.price }}kr</p>
            
              
            <ng-template >
              <p></p>
            </ng-template>
          </li>
        </ul>
        
      </div>
      <p class="quantity">Antal valda drycker: {{clickCounter}}</p>
    </mat-tab>
    
    <mat-tab label="Second">
      <ng-template mat-tab-label>
        <span (click)="initializeFilterBeer()">Drycker</span>
    </ng-template>
      <div class="info">
        <ul *ngIf="drs$">
          <li *ngFor="let dr of drs$ | async">
            <a class="title" [routerLink]="['/drink', dr.id]">
              {{ dr.productNameBold }}</a
            >
            
            <button class="btn btn-success" (click)="paySaldo(dr)">Köp med saldo</button>
            <button class="btn btn-success" (click)="GetToSwish(dr)">Köp med swish</button>
            <div class="countBtns">
              
              <button class="minus" mat-mini-fab color="warn" (click)="clickCountM(dr)">-</button>
            <button class="minus" mat-mini-fab color="green" (click)="clickCount(dr)">+</button>
            </div>
            <p class="location">Pris: {{ dr.price }}kr</p>
             <p class="location">Volym: {{ dr.volume }}cl</p>
    
            
          </li>
        </ul>
      </div>
      <p class="quantity">Antal valda drycker: {{clickCounter}}</p>
    </mat-tab>
    
  </mat-tab-group>


