.img-thumbnail {
  max-width: 75px;
  float: left;
  //object-fit: cover;
  border-radius: 50%;
  max-height: 80px;
  margin-bottom: 40px;
  margin-right: 2em;

}

.declineIcon {
  color: red;
  vertical-align: middle;
  float: right;
  margin-right: 5px;
  margin-top: 1em;
}

.editIcon {
  color: white;
  margin-right: 10px;
  float: right;
  margin-top: 1em;
}

.plus {
  background-color: rgb(75, 194, 75);
  color: white;
}
  /* ink bar */
  ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary {
    background-color: white !important;
    }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin-top: 50px;
}

h2 {
  text-align: center;
  color: white;
}

.btn-primary{
  float: right;
}

.btn-success {
  float: right;
  margin-top: 1em;
  size: 0,5px;
  margin-left: 1em;
  margin-right: 2em;
  font-size: small;
  text-align: center;
  
}


.quantity {
  text-align: center;
  font-size: xx-large;
}

.countBtns {
  float: left;
  size: 0,5px;
  margin-right: 4em;
  margin-top: 1em;
  
}

li {
  //float: left;
  background-color:  rgb(37, 2, 48);
  padding: 1em;
  margin-right: 10px;
  margin-left: 10px;
  //border-radius: 45px;
  height: 100px;
  margin-bottom: 1em;
  flex-direction: column;
  width: auto;
  
  //text-align: center;
  
}

ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: inline-flexbox;
  flex-wrap: wrap;
  width: 1000px;
  
}

p {
  margin: 0;
  color: white;
}

a {
  color: white;
}

.title {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  margin-bottom: 8px;
}


.btnCreateDrink {
  float: right;
  margin: 18px;
  margin-right: 45px;
  width: 200px;
}


li {
  cursor: pointer;
}

/*    Mobil            */

@media (max-width: 414px) {

  .img-thumbnail {
    max-width: 75px;
    float: left;
    object-fit: cover;
    border-radius: 50%;
    max-height: 75px;
    margin-bottom: 40px;
    margin-right: 2em;
  
  }

.container{
width: 100%;
height: 600px;
}
ul {
list-style-type: none;
margin-left: auto;
margin-right: auto;
padding: 0;
flex-wrap: wrap;
width: 100%;

}



.location{
  float: left;
}

li {
  background-color: rgb(37, 2, 48); 
  padding: 1em;
  margin-right: 10px;
  margin-left: 10px;
  width: 90%;
  height: 200px;
  margin-bottom: 1em;
  flex-direction: column;

  text-align: center;
  
}

.declineIcon {
  color: red;
  vertical-align: middle;
  float: right;
  
}

.editIcon {
  color: white;
  margin-right: 10px;
  float: right;
  
}

.btn-success {
  float: right;
  margin-top: 1em;
  size: 0,5px;
  margin-left: 1em;
  margin-right: 2em;
  font-size: small;
  text-align: center;
  
}

.countBtns {
  float: right;
  size: 0,5px;
  margin-right: 1em;
  margin-bottom: 10px;
  
  
}

.title {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  margin-bottom: 8px;
}


}
