<div class="registerEventMain">
  <form [formGroup]="eventForm" class="border border-light p-5" (ngSubmit)="createEvent()">
    <h3 class="text-center">Evenemangets detaljer</h3>
    <hr />

    <div>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Titel</mat-label>
        <mat-error *ngIf="eventForm.invalid">{{ getErrorMessage("title") }}</mat-error>
        <input type="text" matInput formControlName="title" autocomplete="off" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Plats</mat-label>
        <mat-error *ngIf="eventForm.invalid">{{ getErrorMessage("location") }}</mat-error>
        <input type="text" matInput formControlName="location" autocomplete="off" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="fieldDescription">
        <mat-label>Beskrivning</mat-label>
        <mat-error *ngIf="eventForm.invalid">{{ getErrorMessage("description") }}</mat-error>
        <textarea matInput formControlName="description" autocomplete="off"></textarea>
      </mat-form-field>
    </div>

    <div>
      <!-- <mat-form-field appearance="outline">
        <mat-label>Bild-url</mat-label> -->
        <!-- <img [src]="imageUrl || ''"> -->
        <input
          type="file"
          accept="image/*"
          formControlName="image"
          autocomplete="off"
        />
      <!-- (change)="imagePreview($event.target.files)" -->
      <!-- </mat-form-field> -->
    </div>

    <div class="form-row" style="margin-top: 15px;">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Startdatum</mat-label>
          <mat-error *ngIf="eventForm.invalid">{{ getErrorMessage("startdate") }}</mat-error>
          <input matInput (focus)="picker.open()" [matDatepicker]="picker" formControlName="startdate" autocomplete="off" />
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <ng-template #popTemplate>
        <timepicker formControlName="starttime" [(ngModel)]="starttime" [showMeridian]="false"></timepicker>
      </ng-template>
      <div class="form-group col-md-4" style="margin-top: 6.5px;">
      <input class="hoursTxt" value="{{ starttime | date: 'HH:mm' }}" placeholder="00:00" [popover]="popTemplate" [outsideClick]="true" placement="bottom" readonly />
    </div>

      <div *ngIf="!endDateMode" class="form-group col-md-2 mt-3">
        <a (click)="endDateToggle()">+ Sluttid</a>
      </div>
    </div>

    <div *ngIf="endDateMode" class="form-row" id="sectionEndDate">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Slutdatum</mat-label>
          <input matInput (focus)="picker.open()" [matDatepicker]="picker" formControlName="enddate" autocomplete="off" />
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

       <ng-template #popTemplate>
        <timepicker formControlName="endtime" [(ngModel)]="endtime" [showMeridian]="false"></timepicker>
      </ng-template>
      <div class="form-group col-md-4" style="margin-top: 6.5px;">
      <input class="hoursTxt" value="{{ endtime | date: 'HH:mm' }}" placeholder="00:00" [popover]="popTemplate" [outsideClick]="true" placement="bottom" readonly />
      </div>
      <div class="form-group col-md-2" style="margin-top: 15px;">
        <a (click)="endDateToggle()">- Ångra</a>
      </div>
    </div>

    <div class="inviteContainer">
      <div class="officeContainer">
        <p>Välj kontor att bjuda in</p>
        <mat-selection-list class="form-group" #selectedOffices formControlName="offices">
          <mat-list-option *ngFor="let office of offices" [value]="office">
            {{ office }}
          </mat-list-option>
        </mat-selection-list>
        <p>Inbjudna kontor: {{ selectedOffices.selectedOptions.selected.length }}</p>
      </div>
      <div class="userContainer">
        <p>Välj specifika användare</p>
        <mat-selection-list class="form-group" #selectedUsers formControlName="users">
          <mat-list-option *ngFor="let user of users$ | async" [value]="user">
            {{ user.name }}
          </mat-list-option>
        </mat-selection-list>
        <p>Inbjudna användare: {{ selectedUsers.selectedOptions.selected.length }}</p>
      </div>
    </div>

    <div class="form-group text-center btnGroup">
      <button class="btn btn-success" [disabled]="!eventForm.valid" type="submit">
        Skapa evenemang
      </button>
      <button class="btn btn-default" type="button" style="color: white;" [routerLink]="['/event']">
        Gå tillbaka
      </button>
    </div>
  </form>
</div>
