<div class="registerEventMain">
  <form [formGroup]="eventForm" class="border border-light p-5" (ngSubmit)="createEvent()">
    <h3 class="text-center">Information angående evenemang</h3>
    <hr />

    <div>
      <mat-form-field>
        <mat-icon matPrefix>title</mat-icon>
        <input
          type="text"
          matInput
          [ngClass]="{
            'is-invalid': eventForm.get('title').errors && eventForm.get('title').touched
          }"
          placeholder="Titel på evenemang"
          formControlName="title"
        />
        <div class="invalid-feedback">Du måste ange en titel för evenemanget</div>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-icon matPrefix>location_on</mat-icon>
        <input
          type="text"
          matInput
          [ngClass]="{
            'is-invalid': eventForm.get('location').errors && eventForm.get('location').touched
          }"
          placeholder="Plats"
          formControlName="location"
        />
        <div class="invalid-feedback">Du måste ange en plats för evenemanget</div>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-icon matPrefix>info</mat-icon>
        <textarea
          [ngClass]="{
            'is-invalid': eventForm.get('description').errors && eventForm.get('description').touched
          }"
          matInput
          placeholder="Beskrivning"
          formControlName="description"
        ></textarea>
        <div class="invalid-feedback">
          Du måste ange en beskrivning för evenemanget
        </div>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input
          type="text"
          matInput
          [ngClass]="{
            'is-invalid': eventForm.get('image').errors && eventForm.get('image').touched
          }"
          placeholder="Bild-url"
          formControlName="image"
        />
        <div class="invalid-feedback">Du måste ange en bild-url</div>
      </mat-form-field>
    </div>

    <div class="form-row">
      <div>
        <mat-form-field>
          <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
          <input
            matInput
            [matDatepicker]="picker"
            [ngClass]="{
              'is-invalid': eventForm.get('startdate').errors && eventForm.get('startdate').touched
            }"
            placeholder="Startdatum"
            formControlName="startdate"
          />
          <mat-datepicker #picker></mat-datepicker>
          <div class="invalid-feedback">
            Du måste ange ett startdatum för evenemanget
          </div>
        </mat-form-field>
      </div>

      <!-- <div class="form-group col-md-6 inputWithIcon datePicker">
        <input
          type="text"
          bsDatepicker
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
          [ngClass]="{
            'is-invalid': eventForm.get('startdate').errors && eventForm.get('startdate').touched
          }"
          class="form-control"
          placeholder="Startdatum"
          formControlName="startdate"
        />
        <i class="material-icons">&#xe916;</i>
        <div class="invalid-feedback">
          Du måste ange ett startdatum för evenemanget
        </div>
      </div> -->

      <div class="form-group col-md-4 mt-2">
        <timepicker formControlName="starttime" [showMeridian]="false" [showSpinners]="false"> </timepicker>
      </div>

      <div *ngIf="!endDateMode" class="form-group col-md-2 mt-3">
        <a (click)="endDateToggle()">+ Sluttid</a>
      </div>
    </div>

    <div *ngIf="endDateMode" class="form-row inputWithIcon" id="sectionEndDate">
      <div class="form-group col-md-6">
        <input
          type="text"
          bsDatepicker
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
          [ngClass]="{ 'is-invalid': eventForm.hasError('mismatch') }"
          class="form-control"
          placeholder="Slutdatum"
          formControlName="enddate"
        />
        <i class="material-icons">&#xe916;</i>
        <div class="invalid-feedback">
          Slutdatumet måste vara samma eller senare än startdatum
        </div>
      </div>

      <div class="form-group col-md-4" style="margin-top: 6.5px;">
        <timepicker formControlName="endtime" [showMeridian]="false" [showSpinners]="false"> </timepicker>
      </div>

      <div class="form-group col-md-2" style="margin-top: 15px;">
        <a (click)="endDateToggle()">- Ångra</a>
      </div>
    </div>

    <mat-selection-list class="form-group" #selectedUsers formControlName="users">
      <mat-list-option *ngFor="let user of users$ | async" [value]="user">
        {{ user.name }}
      </mat-list-option>
    </mat-selection-list>
    <p>Antal deltagare: {{ selectedUsers.selectedOptions.selected.length }}</p>

    <div class="form-group text-center">
      <button class="btn btn-success" [disabled]="!eventForm.valid" type="submit">
        Skapa evenemang
      </button>
      <button class="btn btn-default" type="button" style="color: white;" [routerLink]="['/event']">
        Gå tillbaka
      </button>
    </div>
  </form>
</div>
