<div class="container mt-5 border border-light p-5">
  <form [formGroup]="eventEditForm" (ngSubmit)="updateEvent()" *ngIf="ev$">
    <button [disabled]="!eventEditForm.dirty || !eventEditForm.valid" type="submit" class="btn btn-success">
      Spara ändringar
    </button>
    <div class="row">
      <div class="title">
        <mat-form-field appearance="outline">
          <mat-label>Ändra titel</mat-label>
          <mat-error *ngIf="eventEditForm.invalid">{{ getErrorMessage("title") }}</mat-error>
          <input class="title" type="text" matInput formControlName="title" autocomplete="off" style="font-size:2.5rem;" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <mat-form-field appearance="outline" id="location">
              <mat-label>Ändra plats</mat-label>
              <mat-error *ngIf="eventEditForm.invalid">{{ getErrorMessage("location") }}</mat-error>
              <input type="text" matInput formControlName="location" autocomplete="off" />
            </mat-form-field>
            <div>
              <ng-template #popTemplate>
                <timepicker formControlName="starttime" [(ngModel)]="starttime" [showMeridian]="false"></timepicker>
              </ng-template>
              <div class="form-group col-md-2" style="padding-left: 0;">
                <input
                  class="hoursTxt"
                  value="Starttid: {{ starttime | date: 'HH:mm' }}"
                  [popover]="popTemplate"
                  [outsideClick]="true"
                  placement="bottom"
                  readonly
                />
              </div>

              <ng-template #popTemplate2>
                <timepicker formControlName="endtime" [(ngModel)]="endtime" [showMeridian]="false"></timepicker>
              </ng-template>
              <div class="form-group col-md-2" style="padding-left: 0">
                <input
                  class="hoursTxt"
                  value="Sluttid: {{ endtime | date: 'HH:mm' }}"
                  [popover]="popTemplate2"
                  [outsideClick]="true"
                  placement="bottom"
                  readonly
                />
              </div>
            </div>
            <div>
              <div>
                <mat-form-field appearance="outline">
                  <mat-label>Ändra startdatum</mat-label>
                  <mat-error *ngIf="eventEditForm.invalid">{{ getErrorMessage("startdate") }}</mat-error>
                  <input
                    matInput
                    (focus)="pickerStartDate.open()"
                    [matDatepicker]="pickerStartDate"
                    formControlName="startdate"
                    autocomplete="off"
                  />
                  <mat-datepicker #pickerStartDate></mat-datepicker>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="outline">
                  <mat-label>Ändra slutdatum</mat-label>
                  <mat-error *ngIf="eventEditForm.invalid">{{ getErrorMessage("enddate") }}</mat-error>
                  <input
                    matInput
                    (focus)="pickerEndDate.open()"
                    [matDatepicker]="pickerEndDate"
                    formControlName="enddate"
                    autocomplete="off"
                  />
                  <mat-datepicker #pickerEndDate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="tab-panel">
          <mat-tab-group animationDuration="0ms">
            <mat-tab label="Om evenemang">
              <div id="description">
                <mat-form-field appearance="outline">
                  <mat-label>Ändra beskrivning</mat-label>
                  <mat-error *ngIf="eventEditForm.invalid">{{ getErrorMessage("description") }}</mat-error>
                  <textarea matInput formControlName="description" autocomplete="off"></textarea>
                </mat-form-field>
              </div>
            </mat-tab>
            <mat-tab label="Deltagare">
              <mat-list>
                <mat-list-item>
                  <p style="color: white;">
                    Testanvändare
                  </p>
                </mat-list-item>
              </mat-list>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </form>
</div>
