<div class="registerEventMain">
  
  <form [formGroup]="eventEditForm" (ngSubmit)="updateEvent()"
    class="mainForm border border-light p-5">
    <button mat-icon-button class="close-button" [routerLink]="['/event']">
      <mat-icon class="close-icon" color="white">close</mat-icon>
    </button>
    <h3 class="text-center">Ändra evenemanget</h3>
    <hr />
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Ändra titel</mat-label>
        <mat-error *ngIf="eventEditForm.invalid">{{ getErrorMessage('title') }}</mat-error>
        <input type="text" matInput formControlName="title" autocomplete="off" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Ändra plats</mat-label>
        <mat-error *ngIf="eventEditForm.invalid">{{ getErrorMessage('location') }}</mat-error>
        <input type="text" matInput formControlName="location" autocomplete="off" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="fieldDescription">
        <mat-label>Ändra beskrivning</mat-label>
        <mat-error *ngIf="eventEditForm.invalid">{{ getErrorMessage('description') }}</mat-error>
        <textarea matInput formControlName="description" autocomplete="off"></textarea>
      </mat-form-field>
    </div>

    <div>
      <img class="card-img-top img-thumbnail" [src]="imageUrl ? 
              imageUrl : '/assets/images/event-images/default_event.png'" />
      <input type="file" accept="image/*" autocomplete="off" formControlName="imageurl"
        (change)="loadImage($event.target.files)" />
    </div> 


        <div class="form-row startInput">
          <div class="startDateInput">
            <mat-form-field appearance="outline">
              <mat-label>Startdatum</mat-label>
              <mat-error *ngIf="eventEditForm.invalid">{{ getErrorMessage('startdate') }}</mat-error>
              <input matInput [min]="currentDate" (focus)="pickerStartDate.open()" [matDatepicker]="pickerStartDate" formControlName="startdate"
                autocomplete="off" readonly />
              <mat-datepicker #pickerStartDate></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="timepicker">
            <timepicker formControlName="starttime" [showMeridian]="false">
            </timepicker>
          </div>
        </div>
        
        <div class="form-row endInput" id="sectionEndDate">
          <div class="endDateInput">
            <mat-form-field appearance="outline">
              <mat-label>Slutdatum</mat-label>
              <input matInput [min]="eventEditForm.get('startdate').value" (focus)="pickerEndDate.open()" [matDatepicker]="pickerEndDate"
                formControlName="enddate" autocomplete="off" />
              <mat-datepicker #pickerEndDate></mat-datepicker>
            </mat-form-field>
          </div>

        <div class="timepicker">
          <timepicker class="timepickerInvalid" formControlName="endtime" [showMeridian]="false">
          </timepicker>
        </div>
        </div>    

    <div class="inviteContainer">
       <div class="officeContainer">
        <p>Inbjudna deltagare</p>
        <mat-selection-list class="form-group invitedList">
          <mat-list-option *ngFor="let invitedP of invitedParticipants$ | async" [value]="invitedP">
            {{ invitedP.name }}
          </mat-list-option>
        </mat-selection-list>
      </div> 
      <div class="userContainer">
        <p>Bjud in ytterligare användare</p>
        <mat-selection-list class="form-group" #selectedUsers formControlName="users">
          <mat-list-option *ngFor="let user of users$ | async" [value]="user">
            {{ user.name }}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>

    <div
      class="form-group text-center mainBtnGroup">
      <button class="btn btn-success" [disabled]="!eventEditForm.dirty || !eventEditForm.valid" type="submit">
        Spara ändringar
      </button>
      <button class="btn btn-default" type="button" style="color: white;" [routerLink]="['/event']">
        Gå tillbaka
      </button>
    </div>
  </form>
</div>

<div class="loader">
  <h2 class="mat-h3">
    <mat-spinner *ngIf="(loadings$ | async)?.length" style="display: inline;" [diameter]="50">
    </mat-spinner>
  </h2>
</div>