
<div class="container mt-5 border border-light p-5">
  
  <form [formGroup]="eventEditForm" (ngSubmit)="updateEvent()"> 
    <button [disabled]="!eventEditForm.dirty" type="submit" class="btn btn-success">
      Spara ändringar
    </button>
    <div class="row">
      <input
        type="text"
        [ngClass]="{
          'is-invalid': eventEditForm.get('title').errors && eventEditForm.get('title').touched
        }"
        class="form-control"
        placeholder="Titel på evenemang"
        formControlName="title"
      />
      <div class="invalid-feedback">Du måste ange en titel för evenemanget</div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <div>
              <strong>Plats:</strong>
              <input
                type="text"
                [ngClass]="{
                  'is-invalid': eventEditForm.get('location').errors && eventEditForm.get('location').touched
                }"
                class="form-control"
                placeholder="Plats"
                formControlName="location"
              />
              <div class="invalid-feedback">
                Du måste ange en plats för evenemanget
              </div>
            </div>
            <div>
              <strong>Tid:</strong>
              <div class="form-group col-md-4 mt-2">
                <timepicker formControlName="starttime" [showMeridian]="false" [showSpinners]="false"> </timepicker>
              </div>
              <div class="form-group col-md-4">
                <timepicker formControlName="endtime" [showMeridian]="false" [showSpinners]="false"> </timepicker>
              </div>
            </div>
            <div>
              <strong>Datum:</strong>
              <input
                type="text"
                bsDatepicker
                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                [ngClass]="{
                  'is-invalid': eventEditForm.get('startdate').errors && eventEditForm.get('startdate').touched
                }"
                class="form-control"
                placeholder="Startdatum"
                formControlName="startdate"
              />
              <div class="invalid-feedback">
                Du måste ange ett startdatum för evenemanget
              </div>

              <input
                type="text"
                bsDatepicker
                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                [ngClass]="{ 'is-invalid': eventEditForm.get('enddate').errors && eventEditForm.get('enddate').touched }"
                class="form-control"
                placeholder="Slutdatum"
                formControlName="enddate"
              />
            </div>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="tab-panel">
          <tabset class="member-tabset">
            <tab heading="Om evenemang">
              <h4 style="font-weight: bold;">Beskrivning</h4>
              <textarea
                [ngClass]="{
                  'is-invalid': eventEditForm.get('description').errors && eventEditForm.get('description').touched
                }"
                class="form-control"
                placeholder="Beskrivning"
                formControlName="description"
              ></textarea>
              <div class="invalid-feedback">
                Du måste ange en beskrivning för evenemanget
              </div>
            </tab>
            <tab heading="Deltagare">
              <h4 style="font-weight: bold;">Deltagare</h4>
              <p>Jerker</p>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </form>
</div>
