 .img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    border-top: none;
}

.container {
  color: white;
}

.card {
  background-color: transparent;
}

button {
  float: right;
}

h4  {
  margin-top: 10px;
}

a {
  color: white !important;
}

.title {
  font-size: 2.5rem;
  width: auto;
  color: #fff;
  margin-bottom: 5px;
}

.timepick {
  background-color: transparent;
}

#description {
  background-color: transparent;
  color: #fff;
}

input[type="text"] {
  background-color: transparent;
  color: #fff;
}
