/* Bordered form */
.mainForm {
  border: 3px solid #f1f1f1;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  height: 1300px;
}

.img-thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 30%;
  height: auto;
}

.hoursTxt {
  margin-left: 10px;
  width: 80px;
  background-color:transparent;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  padding: 16px;  
}

.loader {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

::ng-deep .mat-spinner circle, .mat-spinner circle {   
    stroke: white !important;
}

.close-button{
  float: right;
  top:-24px;
  right:-24px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

.participants {
  color: white;
}

::ng-deep .bs-timepicker-field {
  color: white!important;
  width: 50px!important;
  background: transparent!important;
  padding: 0!important;
}

.timepicker {
  margin-left: 16px;
}

.startDateInput {
  margin-top: 12px;
}

.endDateInput {
  margin-top: 12px;
}

.form-row {
  margin-top: 15px;
}

/* Diven runt formen */
.registerEventMain {
  width: 600px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(37, 2, 48);
}

/* Add padding to containers */
.container {
  padding: 16px;
}

a {
  cursor: pointer;
}

.mat-selection-list {
  border: 1px solid white;
  margin-bottom: 20px;
  min-height: 250px;
  max-height: 250px;
  overflow: auto;
}

.mat-list-option {
  color: white;
}

.mat-list-option {
  height: 30px;
}
:host /deep/ .mat-selection-list .mat-list-option {
  height: 30px!important;
} 


::ng-deep .mat-pseudo-checkbox {
    color: white;
} 

.invitedList ::ng-deep.mat-pseudo-checkbox{
      display: none !important;
    }

mat-form-field {
  width: 100%;
}

textarea {
  height: 80px;
  resize: none;
}

// mat-icon-stepper selected color change 
::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: red!important;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: white!important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: white!important;
    opacity: 0.8!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
    caret-color: white!important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: white!important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
    color: white!important;
    // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: white!important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: white!important;
}

// mat-error color
::ng-deep .mat-error {
    color: rgb(163, 27, 27);
}

//timepicker
:host /deep/ .timepicker__header {
    background-color: #FF7043 !important;
}

.inviteContainer {
  margin-top: 12px;
  margin-bottom: 20px;
  height: 280px;
}

.officeContainer {
  width: 45%;
  float: left;
}

.userContainer {
  width: 50%;
  float: right;
  height: 180px;
}

.mainBtnGroup {
  margin-top: 90px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

/*------Mobile------*/
  
 @media (max-width: 768px) {

.mainForm {
  width: 500px;
  height: 1400px;
}

.mainBtnGroup {
  margin-top: 230px;
}

.registerEventMain {
  width: 500px;
  margin-top: 30px;
}

mat-form-field {
  width: 100%;
}

.officeContainer {
  width: 100%;
}

.userContainer {
  width: 100%;
  height: 180px;
  float: left;
}

.inviteContainer {
  margin-top: 12px;
  margin-bottom: 20px;
  height: 600px;
}

.startInput {
  float: left;
}

.endInput {
  float: left;
}

 .startDateInput {
  width: 130px!important;
} 

 .endDateInput {
  width: 130px!important;
} 
} 

@media (max-width: 576px) {

.mainForm {
  width: 400px;
}

.registerEventMain {
  width: 400px;
}

mat-form-field {
  width: 100%;
}

.startInput {
  flex-wrap: nowrap;
}

.endInput {
  flex-wrap: nowrap;
}

.startDateInput {
  width: 120px!important;
} 
 .endDateInput {
  width: 130px!important;
} 
}

@media (max-width: 454px) {

.mainForm {
  width: 350px;
}

.registerEventMain {
  width: 350px;
}

mat-form-field {
  width: 100%;
}
}



