<div *ngIf="userOffice$">
  <ex-office-detail [office]="userOffice$ | async"></ex-office-detail>
</div>

<div class="mat-card-div" *ngIf="podcastFeed$">
  <mat-card *ngFor="let episode of podcastFeed$ | async" (click)="playEpisode(episode)" fxFlex="100">
    <mat-card-header class="maxTitle">
      <mat-card-title>
        <i class="material-icons iconLeft">rss_feed</i>
        {{ episode.title }}
      </mat-card-title>
    </mat-card-header>
    <i class="material-icons iconRight"> play_circle_outline</i>
  </mat-card>
</div>

<div class="loader">
  <h2 class="mat-h3">
    <mat-spinner *ngIf="(loadings$ | async)?.length" style="display: inline;" [diameter]="50"> </mat-spinner>
  </h2>
</div>

<div id="audioPlayerDiv" *ngIf="showAudioPlayer">
  <div id="audioplayerInfo">
    <p class="maxTitle">{{ title }}</p>
    <button mat-icon-button class="close-button" (click)="toggleAudioPlayer()">
      <mat-icon class="close-icon" color="white">close</mat-icon>
    </button>
    <div id="audioPlayer">
      <mat-basic-audio-player [autoPlay]="autoPlay" [audioUrl]="episodeUrl"></mat-basic-audio-player>
    </div>
  </div>
</div>
