<div class="startContainer">
  <div class="frontImg">
    <img src="assets/images/trivselstartpage.jpg" alt="" class="img-fluid" />
  </div>

  <span class="infoText"
    ><span class="material-icons iconMargin">
      rss_feed </span
    >Exsitecpodden - 3 senaste avsnitten</span
  >

  <div *ngIf="user$ | async">
    <ex-office-detail [user]="user$ | async"></ex-office-detail>
  </div>

  <div class="podcastRow" fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <ng-container *ngFor="let episode of podcastFeed$ | async">
      <mat-card (click)="playEpisode(episode)" fxFlex="0 1 calc(33.3% - 32px)">
        <mat-card-header class="maxTitle">
          <mat-card-title>
            <i class="material-icons iconLeft"> play_circle_outline</i>
            {{ episode.title }}
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </ng-container>
  </div>
</div>

<div class="loader">
  <h2 class="mat-h3">
    <mat-spinner *ngIf="(loadings$ | async)?.length" style="display: inline;" [diameter]="50"> </mat-spinner>
  </h2>
</div>

<div id="audioPlayerDiv" *ngIf="showAudioPlayer">
  <div id="audioplayerInfo">
    <p class="maxTitle">{{ title }}</p>
    <button mat-icon-button class="close-button" (click)="toggleAudioPlayer()">
      <mat-icon class="close-icon" color="white">close</mat-icon>
    </button>
    <div id="audioPlayer">
      <mat-basic-audio-player [autoPlay]="autoPlay" [audioUrl]="episodeUrl"></mat-basic-audio-player>
    </div>
  </div>
</div>
