
<div class="container text-center" style="margin-top: 200px;">
</div>

<div class="portfolio-grid">
	<div class="row">
		<div class="col-lg-3 col-sm-6 col-xs-12">
			<div class="card card-block">
				<img alt="" src="../../../assets/images/porf-1.jpg">
				<div class="portfolio-over">
					<div>
						<h3 class="card-title">
							The Dude Rockin'
						</h3>

						<p class="card-text">
							Detta borde vara en instagram-bild....
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-sm-6 col-xs-12">
			<div class="card card-block">
				<img alt="" src="../../../assets/images/porf-2.jpg">
				<div class="portfolio-over">
					<div>
						<h3 class="card-title">
							The Dude Rockin'
						</h3>

						<p class="card-text">
							Detta borde vara en instagram-bild....
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-sm-6 col-xs-12">
			<div class="card card-block">
				<img alt="" src="../../../assets/images/porf-3.jpg">
				<div class="portfolio-over">
					<div>
						<h3 class="card-title">
							The Dude Rockin'
						</h3>

						<p class="card-text">
							Detta borde vara en instagram-bild....
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-sm-6 col-xs-12">
			<div class="card card-block">
				<img alt="" src="../../../assets/images/porf-4.jpg">
				<div class="portfolio-over">
					<div>
						<h3 class="card-title">
							The Dude Rockin'
						</h3>

						<p class="card-text">
							Detta borde vara en instagram-bild....
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3 col-sm-6 col-xs-12">
			<div class="card card-block">
				<img alt="" src="../../../assets/images/porf-5.jpg">
				<div class="portfolio-over">
					<div>
						<h3 class="card-title">
							The Dude Rockin'
						</h3>

						<p class="card-text">
							Detta borde vara en instagram-bild....
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-sm-6 col-xs-12">
			<div class="card card-block">
				<img alt="" src="../../../assets/images/porf-6.jpg">
				<div class="portfolio-over">
					<div>
						<h3 class="card-title">
							The Dude Rockin'
						</h3>

						<p class="card-text">
							Detta borde vara en instagram-bild....
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-sm-6 col-xs-12">
			<div class="card card-block">
				<img alt="" src="../../../assets/images/porf-7.jpg">
				<div class="portfolio-over">
					<div>
						<h3 class="card-title">
							The Dude Rockin'
						</h3>

						<p class="card-text">
							Detta borde vara en instagram-bild....
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-sm-6 col-xs-12">
			<div class="card card-block">
				<img alt="" src="../../../assets/images/porf-8.jpg">
				<div class="portfolio-over">
					<div>
						<h3 class="card-title">
							The Dude Rockin'
						</h3>

						<p class="card-text">
							Detta borde vara en instagram-bild....
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>