@import '../../../assets/stylesheets/variables';
@media (min-width: 414px) {


#mobile{
	display: none;
}
	.user {
		padding: 30px 10px;
		display: flex;

		mat-icon {
			font-size: 50px;
			width: 60px;
			height: 60px;
			line-height: 60px;
			text-align: center;
			color: $ex-primary;
		}

		.user-information {
			flex: 1;
			padding: 10px;

			.username {
				font-size: 1.2rem;
				font-weight: bold;
			}

			.actions {
				a {
					font-size: 0.8rem;
				}
			}
		}
	}

.bg-nav {
	background-color: rgb(62, 62, 100);
}

.dropdown {
	cursor: pointer;
}


.logo {
	width: 150px;
	margin: 5px;
	margin-right: 40px;
}

.dropdownMobile{
	display: none;
}

.dropdownM{
	display: none;
}

}
@media (max-width: 414px) {
	@import '../../../assets/stylesheets/variables';
ul{
	display: none;
}
.dropdownM{
	display: inline;
}
.dropdown-menu{
	margin-top: 0px;
	width: 100%;
	text-align: center;
}


.bar1, .bar2, .bar3, .bar4 {
	width: 25px;
	height: 5px;
	background-color:white;
	margin: 6px 0;
	transition: 0.4s;
  }

  .change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
	background-color: red;
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
	background-color: red;
  }

}
