<nav class="navbar navbar-expand-md navbar-dark bg-nav">
  <div class="container">
    <div class="logo float-left">
      <img src="assets/images/exsitec-logo-white.png" alt="" class="img-fluid" [routerLink]="['/start']" />
    </div>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/start']">Hem</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/event']">Evenemang</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/drink/category']">Drycker</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/receipt']">Kvitton</a>
      </li>

      <li>
        <a class="nav-link" [routerLink]="['/drink/pay']">BT</a>
      </li>
    </ul>

    <a class="navbarExtra cursor" [routerLink]="['/drink/credit']"
      ><span class="material-icons icon" style="cursor: pointer">
        attach_money
      </span>
      {{ user?.credit }} kr</a
    >
    <a class="navbarExtra cursor" (click)="editDialog(user)"
      ><span class="material-icons icon">
        pin_drop
      </span>
      {{ user?.office }}</a
    >

    <div class="dropdown navbarExtra" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        {{ user?.name }}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/drink/credit']"><i class="fa fa-user"></i>Hantera saldo</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="$event.preventDefault(); logout.emit()"><i class="fa fa-sign-out"></i> Logga ut</a>
      </div>
    </div>
    <div class="dropdownM" dropdown>
      <a class="dropdown-toggle1 text-light" dropdownToggle>
        <div class="container1" >
         <a class="material-icons icon">menu</a>
        </div>
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/start']"><i class="fa fa-user"></i> Hem</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/event']"><i class="fa fa-sign-out"></i> Evenemang</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item"   [routerLink]="['/drink/category']"><i class="fa fa-sign-out"></i> Drycker</a>

      </div>
    </div>
  </div>
</nav>
