.mat-card {
  width: 98%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 1%;
  margin-left: 1%;
  color: white;
  float: left;
  background-color: rgb(37, 2, 48);
}

.center {
    text-align: center;
}

label {
  cursor: pointer;
  float: right;
}
