<div class="container">
<form [formGroup]="receiptForm" class="border border-light p-5" (ngSubmit)="createReceipt()">

  <h3 class="text-center"> Lägg till kvitto</h3>
  <hr/>

    <div>
      <!-- <mat-form-field appearance="outline">
        <mat-label>Bild-url</mat-label>
        <img [src]="imageUrl || ''" style="width: 50px;"> -->
        <input
          type="file"
          accept="image/*"
          autocomplete="off"
          formControlName="image"
          (change)="loadImage($event.target.files)"
    
        />
        <!-- <mat-error *ngIf="eventForm.invalid">Fel filtyp</mat-error> -->
      <!-- </mat-form-field> -->
    </div>

    <div class="form-group text-center">
      <button
        class="btn btn-success"
        type="submit"
      >
        Lägg till dryck
      </button>
    </div>
</form>
</div>

<div class="container justify-content-center">

  <div class="info">
    <ul *ngIf="res$">
      <li *ngFor="let re of res$ | async">
          
        <img class="card-img-top img-thumbnail" [src]="re.Image" />

        <h3 class="location">{{re.DateTime}}</h3>
        
        <ng-template >
          <p></p>
        </ng-template>
      </li>
    </ul>
  </div>

</div>