<div class="container justify-content-center">
  <h3 class="rubrik">Välj en kategori!</h3>
  <hr />
  <ul class="list-category">
    <li [routerLink]="['/drink/category']">
      <a class="title">Öl</a>
      <hr />
      <img src="assets/images/Beer-icon.png" />
    </li>
    <li [routerLink]="['/drink/category2']">
      <a class="title">Vin</a>
      <hr />
      <img src="assets/images/Wine-icon.png" />
    </li>
    <li [routerLink]="['/drink/category3']">
      <a class="title">Cider</a>
      <hr />
      <img src="assets/images/cider-icon.png" />
    </li>
  </ul>
</div>
