<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="createDrinkMain">
  <form
    [formGroup]="drinkForm"
    class="border border-light p-5"
    (ngSubmit)="createDrink()"
  >
    <h3 class="text-center">Lägg till en ny dryck</h3>
    <hr />

    <div class="form-group">
      <input
        [ngClass]="{
          'is-invalid':
            drinkForm.get('productNameBold').errors &&
            drinkForm.get('productNameBold').touched
        }"
        class="form-control"
        placeholder="Namn på dryck"
        formControlName="productNameBold"
      />
      <div class="invalid-feedback">Du måste ange ett namn för drycken</div>
    </div>

    <div class="form-group" style="width: 50%;">
      <mat-select
        [ngClass]="{
          'is-invalid':
            drinkForm.get('price').errors && drinkForm.get('price').touched
        }"
        class="form-control"
        placeholder="Pris"
        formControlName="price"
      >
        <mat-option value="10">10kr</mat-option>
        <mat-option value="20">20kr</mat-option>
        <mat-option value="30">30kr</mat-option>
      </mat-select>
      <div class="invalid-feedback">
        Du måste ange ett pris
      </div>
    </div>

    <div class="form-group">
      <input
        [ngClass]="{
          'is-invalid':
            drinkForm.get('taste').errors && drinkForm.get('taste').touched
        }"
        class="form-control"
        placeholder="Beskriv dryckens smak!"
        formControlName="taste"
      />
      <div class="invalid-feedback">
        Beskriv smaken
      </div>
    </div>

    <div class="form-group" id="volume">
      <mat-select
        [ngClass]="{
          'is-invalid':
            drinkForm.get('volume').errors && drinkForm.get('volume').touched
        }"
        class="form-control"
        placeholder="Volym"
        formControlName="volume"
      >
        <mat-option value="33">33cl</mat-option>
        <mat-option value="50">50cl</mat-option>
        <mat-option value="100">100cl</mat-option>
      </mat-select>
      <div class="invalid-feedback">
        Du måste ange ett pris
      </div>
    </div>

    <div class="form-group">
      <mat-select
        [ngClass]="{
          'is-invalid':
            drinkForm.get('category').errors &&
            drinkForm.get('category').touched
        }"
        class="form-control"
        placeholder="Kategori, t.ex. öl, vin, cider"
        formControlName="category"
      >
        <mat-option value="Vin">Vin</mat-option>
        <mat-option value="Öl">Öl</mat-option>
        <mat-option value="Cider">Cider</mat-option>
       
      </mat-select>
      <div class="invalid-feedback">Ange en kategori för dryck</div>
    </div>

    <div>
      <!-- <mat-form-field appearance="outline">
        <mat-label>Bild-url</mat-label>
        <img [src]="imageUrl || ''" style="width: 50px;"> -->
        <input
          type="file"
          accept="image/*"
          autocomplete="off"
          formControlName="image"
          (change)="loadImage($event.target.files)"
        />
        <!-- <mat-error *ngIf="eventForm.invalid">Fel filtyp</mat-error> -->
      <!-- </mat-form-field> -->
      <div class="invalid-feedback">Du måste ange en bild-url</div>
    </div>

    <hr />

    <div class="form-group text-center">
      <button
        class="btn btn-success"
        type="submit"
      >
        Lägg till dryck
      </button>
      <button
        class="btn btn-default"
        type="button"
        style="color: white;"
        [routerLink]="['/drink']"
      >
        Gå tillbaka
      </button>
    </div>
  </form>
</div>
