<button mat-icon-button tabindex="-1" class="close-button" [mat-dialog-close]="false">
  <mat-icon class="close-icon" color="black">close</mat-icon>
</button>

<h1 mat-dialog-title>
  {{ title }}
</h1>

<div mat-dialog-content>
  {{ message }} <br />

  <mat-form-field class="editDialog" *ngIf="offices">
    <mat-select [(value)]="selectedOffice" tabindex="-1">
      <mat-option *ngFor="let office of offices" [value]="office">
        {{ office.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-raised-button tabindex="-1" color="primary" (click)="onConfirm()">Spara ändring</button>
</div>
