<div class="container justify-content-center">
  <!--   <h3>
  Evenemang
  </h3> -->
  <div class="btn-create-event">
    <div>
      <button class="btn btn-primary" [routerLink]="['/event/create']">
        Skapa evenemang
      </button>
    </div>

    <!-- ---------Kommande kod med sökantering------------ -->

    <!-- <div class="form-group searchbar inputWithIcon">
      <input
        type="text"
        class="form-control"
        (keyup)="loadEvents()"
        [(ngModel)]="eventParams.searchString"
        name="searchString"
        placeholder=""
      />
      <i class="material-icons">search</i>
    </div> -->
  </div>

  <div class="tab-panel">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Alla evenemang">
        <div class="mat-card-div">
          <mat-card *ngFor="let ev of evs$ | async" [routerLink]="['/event', ev.id]">
            <mat-card-header>
              <mat-card-title>{{ ev.title }}</mat-card-title>
              <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <p>
                <i class="material-icons iconMargin">calendar_today</i>
                {{ ev.startDate | date: 'd MMM, y' }}
              </p>
              <p>
                <i class="material-icons iconMargin">location_on</i>
                {{ ev.location }}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button [routerLink]="['/event', ev.id]" class="btnReadMore">Läs mer</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Inbjudningar & mina evenemang"> </mat-tab>

      <mat-tab label="Hantera skapade evenemang">
        <mat-table style="margin-top: 30px;" class="lessons-table mat-elevation-z8" [dataSource]="events">
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Titel</mat-header-cell>
            <mat-cell id="cell-cursor" [routerLink]="['/event', ev.id]" *matCellDef="let ev">{{ ev.title }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="location">
            <mat-header-cell *matHeaderCellDef>Plats</mat-header-cell>
            <mat-cell class="duration-cell" *matCellDef="let ev">{{ ev.location }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef>Datum</mat-header-cell>
            <mat-cell class="description-cell" *matCellDef="let ev"
              >{{ ev.startDate | date: 'dd/M' }} - {{ ev.endDate | date: 'dd/M/yyyy' }}</mat-cell
            >
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Hantera evenemang</mat-header-cell>
            <mat-cell *matCellDef="let ev">
              <button mat-button (click)="editEvent(ev.id)">Redigera</button>
              <button mat-button (click)="deleteEvent(ev.id)">X</button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<!-- ------------Kommande kod med sidhantering------------ -->

<!-- <div class="d-flex justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div> -->
