.container {
  margin-top: 60px;
}

i {
  margin-right: 5px;
}

.iconMargin {
  vertical-align: middle;
  margin-right: 5px;
}

h3 {
  margin-top: 20px;
  text-align: center;
}

.btn-create-event {
  text-align: right;
}

 .mat-card {
  width: 32%;
  margin-bottom: 30px;
  margin-right: 1%;
  float: left;
  color: white;
  cursor: pointer;
  background-color: rgb(37, 2, 48);
} 

.mat-card-title {
  font-size: 1.2rem;
}

.btnReadMore {
  width: 100%;
  text-align: right;
}

#cell-cursor {
  cursor: pointer;
}

.titleList {
  text-align: center;
  margin-top: 30px;
}

.mat-toolbar {
  background-color: rgb(37, 2, 48);
  color: white;
  margin-top: 30px;
}

.mat-row {
  background-color: rgb(37, 2, 48);
}

.mat-cell {
  color: white;
}

.mat-header-cell {
  background-color: rgb(37, 2, 48);
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.noDataTable {
  margin-top: 10px;
}

#acceptIcon {
  color: green;
}

#declineIcon {
  color: red;
  vertical-align: middle;
}

#editIcon {
  color: white;
  margin-right: 10px;
  vertical-align: middle;
}

/* active tab */
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: white;
  font-size: 18px;
  opacity: 1;
}

/* ink bar */
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary {
  background-color: white !important;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  color: white;
  font-size: 18px;
}

::ng-deep .mat-badge-content {
  background: white;
  color: black;
}

:host ::ng-deep.mat-paginator .mat-paginator-container {
  //background-color: rgb(37, 2, 48);
  background-color: transparent;
  color: white;
}

::ng-deep .mat-select-arrow {
  color: white;
}

::ng-deep .mat-select-value {
  color: white;
}
::ng-deep .mat-option {
  color: grey;
}
::ng-deep .mat-paginator-icon {
  color: white;
}

::ng-deep .mat-paginator-navigation-previous {
  color: white !important;
}

::ng-deep .mat-paginator-navigation-next {
  color: white !important;
}

::ng-deep .mat-paginator-range-label {
  color: white;
}

::ng-deep .mat-toolbar-row, .mat-toolbar-single-row {
    height: 80px;
}

#searchbar {
  font-size: 14px;
  width: 160px !important;
}

#allEventSearchbar {
  float: left;
  color: white;
  font-size: 15px;
  width: 160px !important;
  margin-right: 25px;
}

#allEventCalendarSearch {
  color: white;
  font-size: 15px;
  width: 130px !important;
}


.spacer {
  flex: 1 1 auto;
  text-align: right;
}

.listPaginator {
  background: transparent;
  float: right;
}

.filtering {
  margin-top: 10px;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
    color: white!important;
}

.progressSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
}

