.container {
  margin-top: 60px;
}

i {
  margin-right: 5px;
}

.iconMargin {
  vertical-align: middle;
  margin-right: 5px;
}

h3 {
  margin-top: 20px;
  text-align: center;
}

.btn-create-event {
  text-align: right;
}

.mat-card {
  width: 32%;
  margin-top: 20px;
  margin-right: 1%;
  float: left;
  color: white;
  cursor: pointer;
  background-color: rgb(37, 2, 48);
}

.mat-card-title {
  font-size: 1.2rem;
}

.btnReadMore {
  width: 100%;
  text-align: right;
}

#cell-cursor {
  cursor:pointer;
}

/* active tab */
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
color:white;
font-size: 18px;
opacity: 1
}

/* ink bar */
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary {
background-color: white !important;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  color: white;
  font-size: 18px;
}
