@media (min-width: 415px) {

.img-thumbnail {
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;
    color: white;
   
}

.card-footer {
    padding: 10px 15px;
    border-top: none;
}

.container {

  background-image:url('../../../../assets/images/Beer-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#back {
  float: left;
}
.card {

  margin-left: auto;
  margin-right: auto;

}

h4  {
  margin-top: 10px;
}

a {
  color: white !important;
}

.buyButton {
    margin-bottom: 1rem;
    text-align: left;
}

.product-details {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 300px;
}

header > p {
  display: inline-block;
}

img {
  float:left;
  }

}
/*    Mobil            */

@media (max-width: 414px) {

}