<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div
  class="container mt-5 border border-light p-5"
  style="width:35%;"
  *ngIf="dr$ | async; let dr"
>
  <button
    (click)="toggleShow()"
    type="checkbox"
    style="float: right; margin-left:5px;"
  >
    <i class="fa fa-gear"></i>
  </button>
  <div *ngIf="isShown" class="row" id="divshow" style="float:right;">
    <button
      class="btn btn-danger btn-sm"
      style="float:left; margin-right: 15px;"
    >
      <!-- <a (click)=editDrink(drink)>edit</a>  -->

      <a (click)="deleteDrink(dr.id)">Panta</a>
    </button>

    <button
      class="btn btn-primary btn-sm"
      style="margin-right:20px;"
      (click)="editDrink(dr)"
      [routerLink]="['/drink/edit']"
    >
      Redigera dryck
    </button>
  </div>

  <div class="row">
    <ul class="lista">
     <li ><h1 class="mb-4" >{{ dr.productNameBold }}</h1></li>
      <li><h4 id="pris" style="color: white;">Pris: {{ dr.price }}kr</h4></li> 
     <li><h4 id="volym" style="color:white;">Volym: {{ dr.volume}}cl</h4></li> 
    </ul>
  </div>

  <!-- <div class="row">
    <div class="product-details">
      <header>
        <h4>Pris: {{ dr.price }}kr</h4>
        <br />

        <h4>Volym: {{ dr.volume }}cl</h4>
        <br />

        <h4>Kategori: {{ dr.category }}</h4>
      </header>
    </div>
  </div> -->

  <button
    class="btn btn-back"
    id="back"
    type="button"
    style="color: white;"
    [routerLink]="['/drink']"
  >
    Gå tillbaka
  </button>

  <div class="row" style="padding-left: 200px;">
    <!-- <button class="btn btn-success" (click)="GetToSwish(dr)">
      Köp dryck!
    </button> -->

    <ng-template [ngIf]="clickCounter > 1">
      <button
        class="btn btn-success"
        style="margin-left: 10px;"
        (click)="clickCountM()"
      >
        -
      </button>
    </ng-template>
    <p class="btn btn-success" style="margin-left: 10px;">{{ clickCounter }}</p>
    <button
      class="btn btn-success"
      style="margin-left: 10px;"
      (click)="clickCount()"
    >
      +
    </button>
  </div>
  <script>
    document.getElementById("toggleBtn").onclick = function() {
      var display = getComputedStyle(myDIV).display == "none" ? "" : "none";
      myDIV.style.display = display;
    };
  </script>
</div>
