<div class="container mt-5 border border-light p-5" *ngIf="ev$ | async; let ev">
  <div class="row">
    <h1 class="mb-4">{{ ev.title }}</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div>
        <img class="card-img-top img-thumbnail" [src]="ev.image ? 
          '../../'+ ev.image : '/assets/images/event-images/default_event.png'" />
      </div>
      <div class="card">
        <div class="card-body">
          <div>
            <strong>Plats:</strong>
            <p>{{ ev.location }}</p>
          </div>
          <div>
            <strong>Tid:</strong>
            <p>
              {{ ev.startDate | date: 'HH:mm' }} -
              {{ ev.endDate | date: 'HH:mm' }}
            </p>
          </div>
          <div>
            <strong>Datum:</strong>
            <p>
              {{ ev.startDate | date: 'dd/M' }} -
              {{ ev.endDate | date: 'dd/M/yyyy' }}
            </p>
            <!--             <p *ngIf="!checkDates(ev.startDate, ev.endDate)">
              {{ ev.endDate | date: 'dd/M/yyyy' }}
            </p> -->
          </div>
          <div>
            <strong>Status:</strong>
            <p style="color: rgb(27, 196, 27);" *ngIf="checkAttendedUsers()">Deltar</p>
            <p style="color: rgb(243, 2, 2);" *ngIf="checkDeclinedUsers()">Avböjt</p>
            <p *ngIf="!checkDeclinedUsers() && !checkAttendedUsers()">Obsesvarad</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button
              class="btn btn-success w-100"
              *ngIf="!checkAttendedUsers()"
              id="accept"
              (click)="updateParticpantsToEvent(ev.id, 'Accepted')"
              #tooltip="matTooltip"
              matTooltip="Bekräfta deltagande i evenemang"
              matTooltipPosition="below"
            >
              Delta
            </button>
            <button
              class="btn btn-danger w-100"
              *ngIf="!checkDeclinedUsers()"
              id="decline"
              (click)="updateParticpantsToEvent(ev.id, 'Declined')"
              #tooltip="matTooltip"
              matTooltip="Avböj deltagande i evenemang"
              matTooltipPosition="below"
            >
              Avböj
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="Om evenemang">
            <mat-list>
              <mat-list-item>
                <h5 style="color: white; font-weight: bold;">
                  Beskrivning
                </h5>
              </mat-list-item>
              <mat-list-item>
                <p style="margin-top: 20px;">
                  {{ ev.description }}
                </p>
              </mat-list-item>
              <mat-list-item>
                <h5 style="color: white; margin-top: 40px; font-weight: bold;">
                  Kommentarer
                </h5>
              </mat-list-item>
              <mat-list-item>
                <p style="margin-top: 70px;">
                  Anna Persson: Jäklar!!
                </p>
              </mat-list-item>
            </mat-list>
          </mat-tab>
          <mat-tab label="Inbjudningar ({{countParticipants(invitedParticipants$)}})">
            <mat-list style="float: left;">
              <p class="pHeader">Inbjudna: ({{ countParticipants(invitedParticipants$) }})</p>
              <mat-list-item *ngFor="let user of invitedParticipants$ | async">
                <p>
                  {{ user.name }}
                </p>
              </mat-list-item>
            </mat-list>
            <mat-list style="float: left;">
              <p class="pHeader">Accepterat: ({{ countParticipants(attendedParticipants$) }})</p>
              <mat-list-item *ngFor="let user of attendedParticipants$ | async">
                <p>
                  {{ user.name }}
                </p>
              </mat-list-item>
            </mat-list>
            <mat-list style="float: left;">
              <p class="pHeader">Avböjt: ({{ countParticipants(declinedParticipants$) }})</p>
              <mat-list-item *ngFor="let user of declinedParticipants$ | async">
                <p>
                  {{ user.name }}
                </p>
              </mat-list-item>
            </mat-list>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
