.img-thumbnail {
  margin: 25px;
  width: 85%;
  height: 85%;
}

.card-body {
  padding: 0 25px;
}

.card-footer {
  padding: 10px 15px;
  border-top: none;
}

.container,
a,
p {
  color: white;
}

.card {
  background-color: transparent;
}

button {
  float: right;
}

h4 {
  margin-top: 10px;
}

:ng-deep .mat-tab-labels,
.mat-tab-label,
.mat-tab-link {
  color: white;
  font-size: 20px;
}

:ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: white;
  height: 3px;
}
