<div class="container mt-5 border border-light p-5" *ngIf="ev$ | async; let ev">
  <div class="">
    <span class="material-icons backIcon" [routerLink]="['/event']">
      keyboard_backspace
    </span>
  </div>
  <div class="row">
    <h1 class="mb-4" style="margin-left: 35px;">{{ ev.title }}</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div>
        <img class="card-img-top img-thumbnail" [src]="ev.image ? ev.image : '/assets/images/event-images/default_event.png'" />
      </div>
      <div class="card">
        <div class="card-body">
          <div>
            <strong>Information:</strong>
            <p>{{ ev.description }}</p>
          </div>
          <div>
            <strong>Plats:</strong>
            <p>{{ ev.location }}</p>
          </div>
          <div *ngIf="checkDates(ev.startDate, ev.endDate)">
            <strong>När:</strong>
            <p>
              {{ getDayOfWeek(ev.startDate) }}
              {{ ev.startDate | date: 'dd/M/yyyy' }} kl. {{ ev.startDate | date: 'HH:mm' }}
              <span *ngIf="checkEndTime(ev.endDate)"> - {{ ev.endDate | date: 'HH:mm' }} </span>
            </p>
          </div>
          <div *ngIf="!checkDates(ev.startDate, ev.endDate)">
            <strong>När:</strong>
            <p>
              Starttid: {{ ev.startDate | date: 'dd/M/yyyy' }} kl. {{ ev.startDate | date: 'HH:mm' }} <br />
              Sluttid: {{ ev.endDate | date: 'dd/M/yyyy' }} kl. {{ ev.endDate | date: 'HH:mm' }}
            </p>
          </div>
          <div>
            <strong>Skapad av:</strong>
            <p>{{ ev.creatorName }}</p>
          </div>
          <div>
            <strong>Status:</strong>
            <p style="color: rgb(27, 196, 27);" *ngIf="checkAttendedUsers()">Deltar</p>
            <p style="color: rgb(243, 2, 2);" *ngIf="checkDeclinedUsers()">Avböjt</p>
            <p *ngIf="!checkDeclinedUsers() && !checkAttendedUsers()">Obsesvarad</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button
              class="btn btn-success w-100"
              *ngIf="!checkAttendedUsers()"
              id="accept"
              (click)="updateParticpantsToEvent(ev.id, 'accepted')"
              #tooltip="matTooltip"
              matTooltip="Bekräfta deltagande i evenemang"
              matTooltipPosition="below"
            >
              Delta
            </button>
            <button
              class="btn btn-danger w-100"
              *ngIf="!checkDeclinedUsers()"
              id="decline"
              (click)="updateParticpantsToEvent(ev.id, 'declined')"
              #tooltip="matTooltip"
              matTooltip="Avböj deltagande i evenemang"
              matTooltipPosition="below"
            >
              Avböj
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <mat-tab-group animationDuration="0ms" dynamicHeight>
          <mat-tab label="Om evenemang">
            <mat-list>
              <form [formGroup]="postForm" (ngSubmit)="createPost()">
                <div class="postBox">
                  <textarea
                    id="commentBox"
                    placeholder="Kommentera..."
                    formControlName="content"
                    cols="30"
                    rows="3"
                    autocomplete="off"
                  ></textarea>
                  <button mat-button class="postBtn" type="submit">Skicka</button>
                </div>
              </form>

              <div class="bootstrap snippets">
                <div class="">
                  <div class="comment-wrapper">
                    <div class="panel panel-info">
                      <div class="panel-body">
                        <div class="clearfix"></div>
                        <hr />
                        <ul class="media-list" *ngFor="let post of posts$ | async">
                          <li class="media">
                            <div>
                              <strong><span class="material-icons" id="userIcon"> account_box </span> {{ post.creatorName }}</strong>
                              <span class="text-muted pull-right">
                                <small class="text-muted"> - {{ post.created | date: 'dd/M/yyyy-HH:mm' }}</small>
                              </span>

                              <button
                                mat-icon-button
                                #tooltip="matTooltip"
                                matTooltip="Ta bort kommentar"
                                matTooltipPosition="right"
                                (click)="deletePost(post.id, post.eventId)"
                              >
                                <span class="material-icons" id="removeComment">
                                  clear
                                </span>
                              </button>

                              <p id="postContent">
                                {{ post.content }}
                              </p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-list>
          </mat-tab>
          <mat-tab label="Inbjudningar ({{ countParticipants(invitedParticipants$) }})">
            <mat-list style="float: left;">
              <p class="pHeader">Inbjudna: ({{ countParticipants(invitedParticipants$) }})</p>
              <mat-list-item class="participants" *ngFor="let user of invitedParticipants$ | async">
                <p>
                  {{ user.name }}
                </p>
              </mat-list-item>
            </mat-list>
            <mat-list style="float: left;">
              <p class="pHeader">Accepterat: ({{ countParticipants(attendedParticipants$) }})</p>
              <mat-list-item class="participants" *ngFor="let user of attendedParticipants$ | async">
                <p>
                  {{ user.name }}
                </p>
              </mat-list-item>
            </mat-list>
            <mat-list style="float: left;">
              <p class="pHeader">Avböjt: ({{ countParticipants(declinedParticipants$) }})</p>
              <mat-list-item class="participants" *ngFor="let user of declinedParticipants$ | async">
                <p>
                  {{ user.name }}
                </p>
              </mat-list-item>
            </mat-list>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
