.container {
  background-color: rgb(37, 2, 48);
}

.close-button{
  float: right;
  top:-24px;
  right:-24px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}


.img-thumbnail {
  display: block;
  margin-left: 25px;
  //margin-left: auto;
  //margin-right: auto;
  margin-bottom: 15px;
  width: 80%;
  height: auto;
}

.card-body {
  padding: 0 25px;
}

.card-footer {
  padding: 10px 15px;
  border-top: none;
}

.container,
a,
p {
  color: white;
}

.card {
  background-color: transparent;
}

button {
  float: right;
}

h4 {
  margin-top: 10px;
}

.pHeader {
  font-weight: bold;
  font-size: 16px;
}

/* active tab */
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: white;
  font-size: 18px;
  opacity: 1;
}

.tab-panel {
  height: 500px;
  margin-left: 100px;
}

/* ink bar */
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary {
  background-color: white !important;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  color: white;
  font-size: 18px;
}

:host /deep/ .mat-list .mat-list-item {
  height: 25px !important;
}

::ng-deep .mat-list .mat-list-item .mat-list-item-content,
.mat-list .mat-list-option .mat-list-item-content,
.mat-nav-list .mat-list-item .mat-list-item-content,
.mat-nav-list .mat-list-option .mat-list-item-content,
.mat-selection-list .mat-list-item .mat-list-item-content,
.mat-selection-list .mat-list-option .mat-list-item-content {
  padding: 0px !important;
}

.mat-list {
  //margin-top: 10px;
  margin-bottom: 20px;
  min-height: 250px;
  max-height: 560px;
  //width: 200px;
  overflow: auto;
  margin-right: 20px;
}

textarea {
  width: 500px;
  margin-top: 20px;
}

textarea::placeholder {
  color: black;
}

#commentBox {
  background-color: white;
  color: black;
  border-radius: 10px;
  resize: none;
  outline: none;
  padding-left: 10px;
  height: 100px;
}

.postBox {
  display: inline-block;
  position: relative;
}

.postBtn {
  position: absolute;
  bottom: 10px;
  right: 0;
  color: black;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e0e0e0;
}

.comment-wrapper .panel-body {
  max-height: 650px;
  width: 500px;
  //overflow:auto;
}

.comment-wrapper .media-list .media {
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px;
}

ul {
  padding-left: 0;
}

#postContent {
  word-wrap: break-word;
  width: 500px;
  margin: 5px;
}

#removeComment {
  vertical-align: middle;
  float: right;
  color: red;
  cursor: pointer;
}

#userIcon {
  vertical-align: middle;
}

.backIcon {
  font-size: 35px;
  cursor: pointer;
  margin-left: 15px;
  outline: none;
}
/* 
.invitesList {
  float: left;
  padding-right: 12px;
}

.invitesList ::ng-deep.mat-pseudo-checkbox {
      display: none !important;
    }
.invitesList ::ng-deep.mat-list-text {
      cursor: none !important;
    }

  .mat-selection-list {
  border: 1px solid white;
  margin-top: 30px;
  margin-bottom: 20px;
  min-height: 250px;
  max-height: 250px;
  overflow: auto;
  margin-right: 15px;
} */

@media (max-width: 1200px) {
   .comment-wrapper .panel-body {
    max-height: 550px;
    width: 400px;
  }

  #postContent {
    width: 400px;
    margin: 5px;
  }

  textarea {
    width: 400px;
    margin-top: 20px;
  }
}



@media (max-width: 1076px) {
  /* .invitesList {
    clear: both;
    margin: 20px;
    padding-right: 220px;
  } */
  .tab-panel {
    height: 600px;
    margin-left: 70px;
  }

  .mat-list {
    min-height: 0;
  }
  .comment-wrapper .panel-body {
    max-height: 550px;
    width: 350px;
  }

  #postContent {
    width: 350px;
    margin: 5px;
  }

  textarea {
    width: 350px;
    margin-top: 20px;
  }
}

@media (max-width: 990px) {
  .comment-wrapper .panel-body {
    max-height: 550px;
    width: 290px;
  }

  #postContent {
    width: 290px;
    margin: 5px;
  }

  textarea {
    width: 290px;
    margin-top: 20px;
  }
}


@media (max-width: 473px) {
  .comment-wrapper .panel-body {
    max-height: 550px;
    width: 285px;
  }

  #postContent {
    width: 285px;
    margin: 5px;
  }

  textarea {
    width: 285px;
    margin-top: 20px;
  }
}

@media (max-width: 411px) {
.comment-wrapper .panel-body {
    max-height: 550px;
    width: 245px;
  }

  #postContent {
    width: 245px;
    margin: 5px;
  }

  textarea {
    width: 245px;
    margin-top: 20px;
  
  }
}

  @media (max-width: 340px) {
  .comment-wrapper .panel-body {
    max-height: 550px;
    width: 190px;
  }

  #postContent {
    width: 190px;
    margin: 5px;
  }

  textarea {
    width: 190px;
    margin-top: 20px;
  }
}
