.img-thumbnail {
  margin: 25px;
  width: 85%;
  height: 85%;
}

.card-body {
  padding: 0 25px;
}

.card-footer {
  padding: 10px 15px;
  border-top: none;
}

.container,
a,
p {
  color: white;
}

.card {
  background-color: transparent;
}

button {
  float: right;
}

h4 {
  margin-top: 10px;
}

/* active tab */
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
color:white;
font-size: 18px;
}

/* ink bar */
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary {
background-color: white !important;
}