<div class="container mt-5 border border-light p-5" *ngIf="ev$ | async; let ev">
  <button mat-icon-button class="close-button" [routerLink]="['/event']" [queryParams]="{ page: selectedPage, tab: selectedTab}">
    <mat-icon class="close-icon" color="white">close</mat-icon>
  </button>
  <div class="row">
    <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4">
      <div>
        <img class="card-img-top img-thumbnail" [src]="ev.imageUrl ? ev.imageUrl : '/assets/images/event-images/default_event.png'" />
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <h1 class="mb-4" style="margin-left: 15px;">{{ ev.title }}</h1>
          </div>
          <div>
            <strong>Information:</strong>
            <p>{{ ev.description }}</p>
          </div>
          <div>
            <strong>Plats:</strong>
            <p>{{ ev.location }}</p>
          </div>
          <div *ngIf="checkDates(ev.startDate, ev.endDate)">
            <strong>När:</strong>
            <p>
              {{ getDayOfWeek(ev.startDate) }}
              {{ ev.startDate | date: 'd/M-yyyy' }} kl. {{ ev.startDate | date: 'HH:mm' }}
              <span *ngIf="checkEndTime(ev.endDate)"> - {{ ev.endDate | date: 'HH:mm' }} </span>
            </p>
          </div>
          <div *ngIf="!checkDates(ev.startDate, ev.endDate)">
            <strong>När:</strong>
            <p>
              Starttid: {{ ev.startDate | date: 'd/M-yy' }} kl. {{ ev.startDate | date: 'HH:mm' }} <br />
              Sluttid: {{ ev.endDate | date: 'd/M-yy' }} kl. {{ ev.endDate | date: 'HH:mm' }}
            </p>
          </div>
          <div>
            <strong>Skapad av:</strong>
            <p>{{ ev.creatorName }}</p>
          </div>
          <div>
            <strong>Inbjudningar</strong>
            <p style="cursor: pointer;" (click)="viewParticipants()">{{ countParticipants(invitedParticipants$) }} personer</p>
          </div>
          <div>
            <strong>Status:</strong>
            <p style="color: rgb(27, 196, 27);" *ngIf="checkAttendedUsers()">Deltar</p>
            <p style="color: rgb(243, 2, 2);" *ngIf="checkDeclinedUsers()">Avböjt</p>
            <p *ngIf="!checkDeclinedUsers() && !checkAttendedUsers()">Obesvarad</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button
              class="btn btn-success w-100"
              *ngIf="!checkAttendedUsers()"
              id="accept"
              (click)="updateParticpantsToEvent(ev.id, 'accepted', ev.title)"
              #tooltip="matTooltip"
              matTooltip="Bekräfta deltagande i evenemang"
              matTooltipPosition="below"
            >
              Delta
            </button>
            <button
              class="btn btn-danger w-100"
              *ngIf="!checkDeclinedUsers()"
              id="decline"
              (click)="updateParticpantsToEvent(ev.id, 'declined', ev.title)"
              #tooltip="matTooltip"
              matTooltip="Avböj deltagande i evenemang"
              matTooltipPosition="below"
            >
              Avböj
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-sm-12 col-md-8 col-lg-8">
      <div class="tab-panel">
        <mat-tab-group [(selectedIndex)]="index" dynamicHeight>
          <mat-tab label="Evenemangsöversikt">
            <mat-list>
              <form [formGroup]="postForm" (ngSubmit)="createPost()">
                <div class="postBox">
                  <textarea
                    id="commentBox"
                    placeholder="Kommentera..."
                    formControlName="content"
                    cols="30"
                    rows="3"
                    [maxLength]="170"
                    autocomplete="off"
                  ></textarea>
                  <button mat-button class="postBtn" type="submit">Posta</button>
                </div>
              </form>

              <div class="bootstrap snippets">
                <div class="">
                  <div class="comment-wrapper">
                    <div class="panel panel-info">
                      <div class="panel-body">
                        <div class="clearfix"></div>
                        <hr />
                        <ul class="media-list" *ngFor="let post of posts$ | async">
                          <li class="media">
                            <div>
                              <strong><span class="material-icons" id="userIcon"> account_box </span> {{ post.creatorName }}</strong>
                              <span class="text-muted pull-right">
                                <small class="text-muted"> - {{ post.created | date: 'dd/M/yyyy-HH:mm' }}</small>
                              </span>

                              <button *ngIf="post.creatorId == userId"
                                mat-icon-button
                                #tooltip="matTooltip"
                                matTooltip="Ta bort kommentar"
                                matTooltipPosition="right"
                                (click)="confirmDialog(post.id, post.eventId)"
                              >
                                <span class="material-icons" id="removeComment">
                                  clear
                                </span>
                              </button>

                              <p id="postContent">
                                {{ post.content }}
                              </p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-list>
          </mat-tab>
          <mat-tab label="Deltagare [ {{ countParticipants(attendedParticipants$) }} ]">
            <mat-tab-group class="under-tab" *ngIf="index == 1" [selectedIndex]="1">
              <mat-tab label="Inbjudna [ {{ countParticipants(invitedParticipants$) }} ]">
                <mat-selection-list class="invitesList">
                  <mat-list-option class="white" *ngIf="countParticipants(invitedParticipants$) == 0"
                    >Det finns inga inbjudna till evenemanget.</mat-list-option
                  >
                  <mat-list-option class="participants" *ngFor="let user of invitedParticipants$ | async">
                    <mat-icon matListIcon class="white">account_box</mat-icon>
                    <p>
                      {{ user.name }}
                    </p>
                  </mat-list-option>
                </mat-selection-list>
              </mat-tab>
              <mat-tab label="Accepterat [ {{ countParticipants(attendedParticipants$) }} ]">
                <mat-selection-list class="invitesList">
                  <mat-list-option class="white" *ngIf="countParticipants(attendedParticipants$) == 0"
                    >Ingen har accepterat deltagande i evenemanget.</mat-list-option
                  >
                  <mat-list-option class="participants" *ngFor="let user of attendedParticipants$ | async">
                    <mat-icon matListIcon class="white">account_box</mat-icon>
                    <p>
                      {{ user.name }}
                    </p>
                  </mat-list-option>
                </mat-selection-list>
              </mat-tab>
              <mat-tab label="Avböjt [ {{ countParticipants(declinedParticipants$) }} ]">
                <mat-selection-list class="invitesList">
                  <mat-list-option class="white" *ngIf="countParticipants(declinedParticipants$) == 0"
                    >Ingen har avböjt sitt deltagande i evenemanget.</mat-list-option
                  >
                  <mat-list-option class="participants" *ngFor="let user of declinedParticipants$ | async">
                    <mat-icon matListIcon class="white">account_box</mat-icon>
                    <p>
                      {{ user.name }}
                    </p>
                  </mat-list-option>
                </mat-selection-list>
              </mat-tab>
            </mat-tab-group>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

<div class="loader">
  <h2 class="mat-h3">
    <mat-spinner *ngIf="(loadings$ | async)?.length" style="display: inline;" [diameter]="50">
    </mat-spinner>
  </h2>
</div>