/* .ex-event {
    padding: 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'list form';
    grid-gap: 15px;

    .list { grid-area: 'list'; }
} */

.ex-event {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('/assets/images/exsitec-bg2.png');
  background-size: cover;
}