<!-- Tab current balance -->
<div class="tab-panel">
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms" dynamicHeight>
    <mat-tab label="Nuvarande saldo">
      <div class="mat-div-card">
        <div class="addCreditForm">
          <form class="border border-light p-5">
            <h3 class="text-center">Nuvarande saldo</h3>
            <hr />
            
            <p>Just nu har du {{user?.credit}}kr innestående på ditt konto!</p>
            <hr />

            
          </form>
        </div>
      </div>
    </mat-tab>

    <!-- Tab add balance -->
    <mat-tab label="Fyll på saldo">
      <div class="mat-div-card">
        <div class="addCreditForm">
          <form class="border border-light p-5">
            <h3 class="text-center">Fyll på saldo</h3>
            <hr />
            <div>
            <mat-form-field appearance="standard" style="width: 100%;">
              <mat-label>Välj en summa</mat-label>

              <mat-select #selectedValue>
                <mat-option value="100">100kr</mat-option>
                <mat-option value="200">200kr</mat-option>
                <mat-option value="300">300kr</mat-option>
                <mat-option value="400">400kr</mat-option>
              </mat-select>
              
              <mat-icon matSuffix> attach_money</mat-icon>
            </mat-form-field>
            </div>
            <p>knappen tar dig vidare till swish!</p>
            <hr />

            <button class="btn btn-success" [disabled]="selectedValue.empty">
              Lägg till saldo
            </button>
          </form>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
