<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container justify-content-center">
  
  <!-- Tab current balance -->
  <div class="tab-panel">
    <mat-tab-group
      mat-align-tabs="center"
      animationDuration="0ms"
      dynamicHeight
    >
      <mat-tab label="Nuvarande saldo">
        <form class="border border-light p-6">
        <div class="mat-div-card">
          <div class="addCreditForm">
            
              <h3 class="text-center">Nuvarande saldo</h3>
              <hr />

              <p>
                Just nu har du <a>{{ userCredit }}kr </a> innestående på ditt saldo!
              </p>
              <hr />
            
          </div>
        </div>
      </form>
      </mat-tab>

      <!-- Tab add balance -->
      <mat-tab label="Fyll på saldo">
        <mat-list>
          <form class="border border-light p-6" [formGroup]="userCreditForm" (ngSubmit)="addCredit()">
            <div class="mat-div-card">
              <div class="addCreditForm">
                <h3 class="text-center">Fyll på saldo</h3>
                <hr />
                <div>
                  <mat-form-field >
                    <mat-label>Välj en summa</mat-label>

                    <mat-select
                      #selectedValue
                      placeholder="Credit"
                      formControlName="credit"
                      
                    >
                      <mat-option [value]="100">100kr</mat-option>
                      <mat-option [value]="200">200kr</mat-option>
                      <mat-option [value]="300">300kr</mat-option>
                      <mat-option [value]="400">400kr</mat-option>
                    </mat-select>

                    <mat-icon matSuffix> attach_money</mat-icon>
                  </mat-form-field>
                </div>
                <p>Knappen tar dig vidare till swish!</p>
                <hr />
                <button title="Använd din mobil för att lägga till saldo."
                  class="btn btn-success"
                  type="submit"
                  [disabled]="selectedValue.empty">
                  Lägg till saldo
                </button>
              </div>
            </div>
          </form>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
