<div class="addCreditForm">
  <form class="border border-light p-5">
    <h3 class="text-center">Lägg till saldo</h3>
    <hr />
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Välj en summa</mat-label>

      <mat-select>
        <mat-option value="100">100kr</mat-option>
        <mat-option value="200">200kr</mat-option>
        <mat-option value="300">300kr</mat-option>
        <mat-option value="400">400kr</mat-option>
      </mat-select>
      <mat-icon matSuffix> attach_money</mat-icon>
    </mat-form-field>

    <button class="btn btn-success">Lägg till saldo</button>
  </form>
</div>
